<%- include('../partials/header') %>

<div id="service-container" class="service-container">
    <div id="service-header" class="service-header" style="background-image: url('../imgs/people/menu/Encabezados_Personas_Seguro Auto-min.jpg');">
        <h2>Seguro de auto</h2>
        <hr />
    </div>

    <div id="service-content" class="service-content">
        <div class="service-left-content">
            <h3>Seguro de auto</h3>
            <h4>Pendiente</h4>

            <p>
                Pendiente
            </p>

            <button id="service-button">¡Quiero una asesoría!</button>

            <div class="calendar_social">
                <a href="#">Agenda tu cita</a>

                <div class="social">
                    <i>x</i>
                    <i>y</i>
                </div>
            </div>
        </div>
        <div class="service-right-content">

            <div id="r-img" class="r-img" style="background-image: url('../imgs/people/ProductoVertical/Foto Producto_Personas_Seguro Auto.jpg');"></div>
        </div>
    </div>
</div>

<div id="service-form" class="service-form">

    <h2>¡Quiero comenzar con mi proyecto de vida!</h2>
    <i id="service-button-exit" class="fa-solid fa-x"></i>
    <form class="service_form__form" action="#">
        <label for="name">Tu nombre</label>
        <input type="text" id="name" name="name">
        <label for="phone">Telefono</label>
        <input type="text" id="phone" name="phone">
        <label for="email">Correo Electronico</label>
        <input type="text" id="email" name="email">
        <p class="form-info">También puedes contactarnos al 55 5960 3568</p>
        <button type="submit">Enviar</button>
    </form>
</div>

<%- include('../partials/footer') %>
