
    <script src="../js/dinamic_nav.js"></script>
    <script src="../js/main_slider.js"></script>
    <script src="../js/second-slider.js"></script>
    <script src="../js/service-form.js"></script>

    <!-- CALENDLY SCRIPT -->
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
</body>
</html>