<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet"> 
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- CALENDLY STYLES -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/main-styles.css">
    <link rel="stylesheet" href="../css/main-slider.css">
    <link rel="stylesheet" href="../css/menu-1.css">
    <link rel="stylesheet" href="../css/menu-2.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/second-slideshow.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/services/service.css">
    <title>Document</title>
</head>
<body id="body">
    
    <div class="nav-menu" id="nav-menu">
        <div class="left-links">
            <a class="link-logo" href="/">
                <img src="../imgs/LOGO_CM_Patrimonial.png" alt="">
            </a>
            <i id="bars-btn" class="fa-solid fa-bars"></i>
        </div>
        <div class="right-links" id="right-links">
            <a class="link-item" href="/#personas">Personas</a>
            <a class="link-item" href="/#empresas">Empresas</a>
            <a class="link-item" href="/#sobre-mi">Acerca de mi</a>
            <a class="link-item" href="/#contacto">Contacto</a>
        </div>
    </div>
