<%- include('./partials/header') %>

<div class="main-slider">
    <div id="slider-content" class="slider-content">
        <div class="slide-item">
            <h2>
                HERRAMIENTAS FINANCIERAS QUE MEJORAN TU VIDA Y LA DE TU FAMILIA.
            </h2>
        </div>
        <div class="slide-item">
            <h2>PROTECCION PATRIMONIAL PARA FORTALECER TU NEGOCIO.</h2>
        </div>
        <div class="slide-item">
            <h2>CONOCE QUIEN SOY Y QUIENES RESPALDAN MI SERVICIO.</h2>
        </div>
    </div>
    <div id="pagination-buttons" class="pagination-buttons">
        <i id="p-btn-1" class="fa-solid fa-circle"></i>
        <i id="p-btn-2" class="fa-solid fa-circle"></i>
        <i id="p-btn-3" class="fa-solid fa-circle"></i>
    </div>
    <!-- <div class="pagination-arrows-buttons">
        
    </div> -->
    <i id="left-arrow" class="fa-solid fa-angle-left"></i>
    <i id="right-arrow" class="fa-solid fa-angle-right"></i>
</div>

<div id="personas" class="menu-1">
    <div class="menu-1-title">
        <h2>Personas</h2>
    </div>
    <div class="menu-1-content">
        <div class="top-content">
            <div class="service">
                <a href="/seguro-de-vida">Seguro de vida</a>
            </div>
            <div class="service">
                <a href="/retiro">Retiro</a>
            </div>
            <div class="service">
                <a href="/ahorro">Ahorro</a>
            </div>
            <div class="service">
                <a href="/inversion">Inversión</a>
            </div>
        </div>
        <div class="bottom-content">
            <div class="service">
                <a href="/gastos-medicos">Gastos médicos mayores</a>
            </div>
            <div class="service">
                <a href="/seguro-de-viaje">Seguro de viaje</a>
            </div>
            <div class="service">
                <a href="/seguro-de-auto">Seguro de Auto</a>
            </div>
        </div>
    </div>
</div>

<div id="empresas" class="menu-2">
    <div class="left-content">
        <h2>Para empresas</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
            laborum reprehenderit temporibus culpa nobis ipsum error quos
            mollitia aspernatur perferendis, labore magnam pariatur enim dolorem
            eaque. Labore perferendis doloribus.
        </p>
        <a href="#">Saber mas</a>
    </div>
    <div class="right-content">
        <div class="right-content-img"></div>
    </div>
</div>

<div id="sobre-mi" class="about-section">
    <div class="about-section-content">
        <h2>Carolina Mejía</h2>
        <h3>Asesor Patrimonial y de Seguros</h3>
        <p>
            Me convertí en Asesor Patrimonial, buscando en mi hacer un
            propósito. Esta carrera me permite acompañar a las personas y
            empresas en la construcción de su proyecto de vida y apoyarlas a
            alcanzar sus objetivos con instrumentos financieros, además de
            proteger su patrimonio conforme lo construyen. <br><br> Estoy certificada por
            la Comisión Nacional de Seguros y Fianzas <span>(Cédula C301790)</span>, la
            CONDUSEF y diversas instituciones financieras en temas de finanzas
            personales, ahorro, inversión, retiro y protección Patrimonial.
        </p>
    </div>
</div>

<div class="second-slideshow">

    <div class="second-slideshow-title">
        <h2>Socios comerciales</h2>
    </div>
    <div id="second-slideshow-content" class="second-slideshow-content">
        <div class="slider-left-content">
            <div class="second-s-item">
                <img src="../imgs/slider_2/logo-01.png" alt="">
            </div>
            <div class="second-s-item">
                <img src="../imgs/slider_2/logo-02.png" alt="">
            </div>
            <div class="second-s-item">
                <img src="../imgs/slider_2/logo-03.png" alt="">
            </div>
            <div class="second-s-item">
                <img src="../imgs/slider_2/logo-04.png" alt="">
            </div>
        </div>
        <div class="slider-right-content">
            <div class="second-s-item">
                <img src="../imgs/slider_2/logo-05.png" alt="">
            </div>
            <div class="second-s-item">
                <img src="../imgs/slider_2/logo-06.png" alt="">
            </div>
            <div class="second-s-item">
                <img src="../imgs/slider_2/logo-07.png" alt="">
            </div>
            <div class="second-s-item">
                <img src="../imgs/slider_2/logo-08.png" alt="">
            </div>
        </div>
    </div>
    <div id="second-pagination-buttons" class="second-pagination-buttons">
        <i id="s-p-button1" class="fa-solid fa-circle"></i>
        <i id="s-p-button2" class="fa-solid fa-circle"></i>
    </div>
</div>

<div id="contacto" class="contact-section">

    <div class="contact-left-content">
        <h2>Deja un mensaje</h2>
        <form action="/contact-post" method="post">
            <input type="text" name="name" placeholder="Nombre">
            <input type="email" name="email" placeholder="Correo Electronico">
            <textarea name="messsage" name="message" placeholder="Mensaje" id="" cols="30" rows="4"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div class="contact-right-content">
        <h2>Contacto</h2>
        <div class="contact-right-bottom-content">

            <div class="contact-item">
                <a href="mailto:caro@cmpatrimonial.com"><i class="fa-solid fa-envelope"></i> Escribeme</a>
            </div>
            <div class="contact-item">
                <a href="tel:5559603568"><i class="fa-solid fa-phone"></i> ¡Hablemos!</a>
            </div>
            <div class="contact-item">
                <a href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/jonatthan?hide_landing_page_details=1'});return false;"><i class="fa-solid fa-calendar-days"></i> Agenda tu cita</a>
            </div>
            <div class="contact-item">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

<a class="whatsapp-link" href="https://api.whatsapp.com/send/?phone=5215538814814&text=Hola%21&type=phone_number&app_absent=0"></a>

<%- include('./partials/footer') %>
